.topnavbar{
    color: black;
    background-color:rgb(97, 136, 208);
    color : blueviolet;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: white;
}

#btnGroupAddon {
    background-color:orange;
}

.linkHover {
    text-decoration: none;
    color: white;
}

.linkHover:hover {
    text-decoration: underline;
    color: white;
}

.propertyCard {
    margin-left: 3%;
    margin-top: 3%;
}

.row1{
    height: 100%; 
}

.sidebar{
    height: 100%; 
    display: flex;
    flex-direction: column;
    color: white;
}

.navbar-item{
    text-decoration: none;
    color: black; 
}

.navlink{
    text-decoration: none;
    color : black;
}

.navlink:hover {
    text-decoration: underline;
    color: blue;
}